.accordion-panel + .accordion-panel {
    margin-top: 22px;
}


.accordion-panel__head {
    cursor: pointer;
    background: #575757;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    padding: 12px 28px;
    color: #fff;
}

.accordion-panel__head::before {
    width: 9px;
    content: "\2013";
    display: block;
    margin-right: 14px
}

.accordion-panel__head.collapsed {
    background: #f2f2f2;
    color: #232323;
}

.accordion-panel__head.collapsed::before {
    content: "+"
}

.collapse:not(.show) {
    display: none;
}


.accordion-panel__body {
    border: 1px solid #575757;
    border-top: none;
}

.show {
    display: block;
}

.accordion-panel__inner {
    padding: 26px 20px;
}





@media screen and (max-width: 600px) {
    .accordion-panel__head {
        font-size: 16px;
    }

    .accordion-panel__head::before {
        width: 48px;
        font-size: 48px;
    }
}   