.account-person {
    width: 35%;
}

.account-person .page-subtitle::before {
    font-family: 'icomoon';
    content: "\e908";
    display: inline-block;
    font-size: 24px;
    margin: 0 16px 0 0;
}

.account-person__info input {
    padding: 0 5px;
}

.account-person__info {
    margin: 12px 0 0 0;
}


.account-person__info td {
    font-size: 24px;
    line-height: 1.2;
    padding: 10px 0;
}

.account-person__info td:not(:first-of-type) {
    padding: 10px 0 10px 40px;
}

.account-person__email-checkbox {
    margin: 40px 0 0 0;
}

.account-person .button {
    max-width: 232px;
    margin: 40px 0;
}


@media screen and (max-width: 1919px) {
    .account-person {
        width: 40%;
    }
}

@media screen and (max-width: 1279px) {
    .account-person {
        width: 100%;
    }
}   

@media screen and (max-width: 768px) {
    .account-person__info td {
        font-size: 16px;
    }
}   