.advantages {
    background: linear-gradient(rgba(35, 35, 35, 0),  rgba(35, 35, 35, .7) 30%, rgba(35, 35, 35, 1));
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 80px 30px 80px;
}

.advantages__items {
    display: flex;
    margin: 164px 0 0 0;
    width: 100%;
    justify-content: space-between;
}

.advantages-item {
    display: flex;
    align-items: center;
}

.advantages-item:nth-of-type(1) {
    max-width: 200px;
}

.advantages-item:nth-of-type(2) {
    max-width: 390px;
}   

.advantages-item:nth-of-type(3) {
   max-width: 292px; 
}

.advantages-item:nth-of-type(4) {
    max-width: 250px;
}

.advantages-item:nth-of-type(5) {
    max-width: 170px;
}

.advantages-item:nth-of-type(6) {
    max-width: 170px;
}


.advantages-item__icon {
    height: 50px;
    width: auto;
    align-self: center;
    margin: 0 20px 0 0;
}

.advantages-item__text {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}



@media screen and (max-width: 1919px) {
    .advantages {
        margin: 40px 0 0 0;
        padding: 0 40px 10px 40px;
    }
    .advantages__items {
        margin: 108px 0 0 0;
    }

    .advantages-item:nth-of-type(1) {
        max-width: 144px;
    }
    
    .advantages-item:nth-of-type(2) {
        max-width: 284px;
    }   
    
    .advantages-item:nth-of-type(3) {
       max-width: 212px; 
    }
    
    .advantages-item:nth-of-type(4) {
        max-width: 184px;
    }
    
    .advantages-item:nth-of-type(5) {
        max-width: 114px;
    }
    
    .advantages-item:nth-of-type(6) {
        max-width: 122px;
    }

    .advantages-item__icon {
        height: 35px;
        margin: 0 8px 0 0;
    }
    
    .advantages-item__text {
        font-size: 16px;
        line-height: 20px;
    }


}

@media screen and (max-width: 1279px) {
    .advantages {
        display: none;
    }
}