* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Futura PT', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #fff;
    color: #232323;
}

.wrapper {
    max-width: 1920px;
    padding: 0 80px;
    margin: 0 auto;
}

@media all and (max-width: 1919px) {
    .wrapper {
        max-width: 1280px;
        padding: 0 40px;
    }
}

@media all and (max-width: 1279px) {
    .wrapper {
        padding: 0 16px;
    }
    .body {
        min-width: 360px;
    }
}

/* gold: #a89365;
greyDark: #232323; */


@media all and (max-width: 1919px) {
    
}

@media all and (max-width: 1279px) {

}   