.bottom-buttons {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-buttons .button {
    max-width: 258px;
    margin: 0 0 0 80px;
}


@media screen and (max-width: 1919px) {
    .bottom-buttons {
        padding: 60px 0;
    }
}

@media screen and (max-width: 1279px) {
    .bottom-buttons {
        padding: 40px 0;
    }
}   


@media screen and (max-width: 600px) {
    .bottom-buttons {
        padding: 20px 0;
        flex-direction: column-reverse;
    }
    .bottom-buttons .button {
        margin: 0 0 20px 0;
    }
}
