.brands-logos-container {
    padding: 40px 0;
}

.brands-logos {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
}


.brands-logos__row {
    display: flex;
    justify-content: space-between;
}

.brands-logos__image {
    max-width: 228px;
    align-self: center;
}




@media screen and (max-width: 1919px) {
    
    .brands-logos__image {
        max-width: 152px;
    }
}

@media screen and (max-width: 1279px) {
    .brands-logos-container {
        padding: 20px 0;
    }
    .brands-logos {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 0;
    }
    .brands-logos__row {
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

}   

@media screen and (max-width: 600px) {

}   