.brands-names {
    padding: 40px 0;
}

.brands-names__nav-box {
    display: flex;
}

.brands-names__nav {
    color: #232323;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    transition: all .2s;
    margin: 0 0 0 8px;
}

.brands-names__nav_selected, .brands-names__nav:hover {
    color: #a89365;
}


.brands-names__letter-box {
    margin: 40px 0 0 0;
}

.brands-names__letter {
    color: #a89365;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
}

.brands-names__list {
    column-count: 5;
    margin: 40px 0 0 0;
}

.brands-names__elem {
    list-style: none;
    width: 220px;
    display: block;
    margin: 0 10px 10px 0;
}

.brands-names__elem-link {
    color: #232323;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
}

.brands-names__elem-link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1919px) {
    .brands-names__nav {
        color: #232323;
        margin: 0 0 0 4px;
    }
    .brands-names__letter {
        font-size: 40px;
    }
    .brands-names__elem-link {
        font-size: 20px;
    }

}

@media screen and (max-width: 1279px) {
    .brands-names .section-header {
        display: none;
    }
}   

@media screen and (max-width: 800px) {
    .brands-names {
        padding: 20px 0;
    }
    .brands-names__letter {
        font-size: 24px;
    }
    .brands-names__list {
        column-count: 2;
        margin: 20px 0 0 0;
    }
}   