.button {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    width: 379px;
    height: 48px;
    text-align: center;
    transition: all .2s;
    margin: 0 20px;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.button_theme_gold {
    background: #a89365;
    color: #fff;
    border: 1px solid #a89365;
}

.button_theme_gold:hover {
    background: #bbaa86;
}

.button_theme_white {
    color: #a89365;
    background: #fff;
    border: 1px solid #a89365;
}

.button_theme_white:hover {
    background: #fbfaf7;
}



@media screen and (max-width: 1919px) {
    .button {
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        max-width: 300px;
        height: 40px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 1279px) {
    .button {
        max-width: 260px;
        margin: 4px auto;
    }
}   


@media screen and (max-width: 500px) {
    .button {
        max-width: 100%;
    }
}