.cart-box {
}


.cart-box .section-header {
    margin: 40px 0 0 0;
}

.cart-box h2::before {
    font-family: 'icomoon';
    content: "\e90d";
    font-weight: 300;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 24px;
}



.cart-box__icons {
    margin: 0 0 0 110px;
    display: flex;
    align-items: center;
}

.cart-box__icon {
    font-family: 'icomoon';
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    transition: all .3s;
    color: #a89365;
}

.cart-box__icon:not(:first-of-type) {
    margin: 0 0 0 40px;
}

.cart-box__icon:hover {
    color: #232323;
}

.cart-box__products {
    margin: 40px 0 0 0;
}

.cart-box__final {
    margin: 40px 0 0 0;
    font-size: 32px;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
}



.cart-box__final-price .page-text_accent::after {
    content: " ₽"
}


@media screen and (max-width: 1919px) {
    .cart-box__icons {
        margin: 0 0 0 48px;
    }

    .cart-box__icon {
        font-size: 16px;
        line-height: 20px;
    }
    
    .cart-box__icon:not(:first-of-type) {
        margin: 0 0 0 30px;
    }
}

@media screen and (max-width: 1279px) {
    .cart-box .section-header {
        margin: 20px 0 0 0;
    }

    .cart-box__products {
        margin: 20px 0 0 0;
    }

    .cart-box h2::before {
        margin: 0 12px 0 0;
        font-size: 16px;
    }

    .cart-box__final {
        margin: 20px 0 0 0;
        font-size: 18px;
    }
}   

