.catalog-item {
    width: 480px;
    min-height: 880px;
    padding: 36px 12px;
}


/* отступы первого элемента и каждого четвертого на 1920 */

.catalog-item:first-of-type, .catalog-item:nth-of-type(4n) {
    margin: 0 72px 40px 0;
}

/* отступы среднего (2, 5, 8, etc) элемента на 1920 */

.catalog-item:nth-of-type(3n+2) {
    margin: 0 72px 40px 72px;
}

/* отступы каждого третьего элемента на 1920 */

.catalog-item:nth-of-type(3n) {
    margin: 0 0 40px 72px;
}


.catalog-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0, .16);
}


.catalog-item__image {
    max-width: 100%;
    align-self: center;
}


.catalog-item__info {
    margin: 80px 0 0 0;
}

.catalog-item__links {
    margin: 40px 0 0 0;
}

.catalog-item__link-item {
    list-style: none;
    margin: 0 0 20px 0;
}

.catalog-item__link {
    color: #232323;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.1;
}

.catalog-item__link:hover {
    text-decoration: underline;
}

.catalog-item__link_parent::after {
    content: " \e903";
    font-size: 12px;
    color: #a89365;
    font-family: 'icomoon';
}


.catalog-item__links_children {
    margin: 10px 0 0 2em;
}