.footer {
    background: #232323;
    padding: 80px 0 30px 0;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column_contacts {
    width: 30%;
}

.footer-column_info {
    width: 18%;
}

.footer-column_nav {
    width: 30%;
}

.footer-column__title {
    color: #a89365;
    font-size: 36px;
    line-height: 1;
}

.footer__nav {
    display: flex;
}

.footer-column__list {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
}

.footer-column__list:not(:first-of-type) {
    margin: 40px 0 0 60px;
}

.footer-column__elem:not(:first-of-type) {
    margin: 30px 0 0 0;
    padding: 0;
}

.footer-column__elem:before {
    display: none;
    margin: 0;
    width: 0;
    content: "";
}

.footer-column__link {
    text-decoration: none;
    color: #828282;
    display: flex;
    font-size: 20px;
    line-height: 1.1;
    transition: all .3s;
}

.footer-column__link:hover {
    color: #fff;
}

.footer__icons-row {
    display: flex;
    margin: 40px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.footer__social-icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.footer__social-icon {
    max-width: 60px;
    transition: all .2s;
}

.footer__social-icon:hover {
    opacity: .6;
}

.footer__payment-icons {
    display: flex;
    width: 18%;
    justify-content: space-between;
}

.footer__payment-icon {
    max-width: 72px;
}


.footer__logo-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.footer__logo {
    max-width: 236px;
}

.footer__copyright {
    text-align: center;
    font-size: 20px;
    line-height: 1.1;
    color: #828282;
    margin: 60px 0 0 0;
}

.footer .button {
    max-width: 272px;
}

.icon-chevron-down {
    display: none;
}


@media screen and (max-width: 1919px) {
    .footer {
        padding: 40px 0 30px 0;
    }
    
    .footer__logo {
        max-width: 152px;
    }

    .footer .button {
        max-width: 234px;
    }

    .footer__payment-icons {
        width: 22%;
    }

    .footer-column_info {
        width: 22%;
    }
}

@media screen and (max-width: 1279px) {
    .footer {
        padding: 30px 0;
    }

    .footer-column {
        width: 30%;
    }

    .footer__columns {
        flex-wrap: wrap;
    }

    .footer-column__list {
        margin: 30px 0 0 0;
    }
    
    .footer__nav {
        flex-direction: column;
    }

    .footer-column__elem:not(:first-of-type) {
        margin: 20px 0 0 0;
    }

    .footer-column__list:not(:first-of-type) {
        margin: 20px 0 0 0;
    }

    .footer .button {
        max-width: 100%;
    }

    .footer__logo-container {
        flex-direction: column;
    }

    .footer__logo {
        max-width: 180px;
        margin: 0 0 20px 0;
    }

    .footer__social-icon {
        max-width: 40px;
    }

    .footer__payment-icon {
        max-width: 56px;
    }
}   


@media screen and (max-width: 780px) {

    .footer__columns {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
        transition: all .3s;
    }

    .footer-column:not(:first-of-type) {
        margin: 16px 0 0 0;
    }

    .footer-column__title {
        font-size: 20px;
        cursor: pointer;
    }

    #info-list, .footer__nav {
        display: none;
    }


    .footer-column_contacts .footer-column__title {
        cursor: default;
    }

    .footer-column__list {
        margin: 16px 0 0 0;
    }
    
    .footer-column__list:not(:first-of-type) {
        margin: 16px 0 0 0;
    }

    .footer-column__elem:not(:first-of-type) {
        margin: 16px 0 0 0;
    }

    .footer-column__link {
        font-size: 15px;
    }

    .footer__logo-container {
        flex-direction: column;
    }

    .footer__copyright {
        font-size: 15px;
    }

    .footer__icons-row {
        flex-direction: column;
        justify-content: center;
    }

    .footer__payment-icons {
        width: 50%;
        margin: 40px auto 0 auto;
        order: 3;
    }

    .footer__social-icons {
        width: 70%;
        order: 2;
        margin: 40px auto 0 auto;
    }

    .footer__logo-container {
        order: 1;
        width: 100%;
    }
}



@media screen and (max-width: 600px) {
    .footer__social-icons {
        width: 100%;
    }

    .footer__payment-icons {
        width: 80%;
    }
}