.for-architects {
    padding: 12px 0 60px 0;
}

.for-architects_second {
    padding: 60px 0;
}

.for-architects__row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0 ;
}

.for-architects__text {
    max-width: 49%;
}

.for-architects__list-item_spread:not(:first-of-type) {
    margin: 1em 0 0 0;
}

.for-architects__main-image {
    max-width: 49%;
    align-self: center;
}

.for-architects__button {
    margin: 40px 0 0 0;
}

.for-architects__button .button {
    margin: 0 auto;
    max-width: 258px;
}

.for-architects__footnote {
    font-size: 16px;
    line-height: 1.2;
    margin: 40px 0 0 0;
}


@media screen and (max-width: 1919px) {
    .for-architects {
        padding: 12px 0 40px 0;
    }

    .for-architects__text {
        max-width: 100%;
    }

    .for-architects__main-image {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .for-architects_second {
        padding: 40px 0;
    }

    .for-architects__row {
        flex-direction: column-reverse;
        margin: 20px 0 0 0 ;
    }

    .for-architects__main-image {
        display: block;
        max-width: 100%;
        margin: 0 0 12px 0;
    }

    .for-architects__button {
        margin: 20px 0 0 0;
    }
}   


@media screen and (max-width: 600px) {
    .for-architects {
        padding: 12px 0 10px 0;
    }
    .for-architects__footnote {
        font-size: 10px;
        margin: 12px 0 0 0;
    }
}