.info-section {
    padding: 40px 0 80px 0;
}

.info-section__body {
    margin: 40px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .info-section {
        padding: 20px 0 40px 0;
    }
    
    .info-section__body {
        margin: 20px 0 0 0;
    }
    
}  