.intro {
    background: url(../images/bg.png) top center no-repeat;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
}

.intro__text {
    max-width: 720px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin: 230px auto 80px auto;
    text-align: center;
}

.intro__chevron {
   display: block;
   margin: 30px auto; 
   width: 10px;
   height: 15px;
   font-size: 10px;
   text-decoration: none;
}


@media all and (max-width: 1919px) {
    .intro {
        max-width: 1280px;
    }

    .intro__text {
        max-width: 480px;
        font-size: 16px;
        line-height: 20px;
        margin: 156px auto 32px auto;
    }

    .intro__chevron {
        margin: 20px auto; 
     }
}


@media all and (max-width: 1279px) {
    .intro {
        max-width: 360px;
    }
}