.intro {
    background: url(../images/bg.png) top center no-repeat;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
}

.intro__text {
    max-width: 720px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin: 230px auto 80px auto;
    text-align: center;
}



