.listing-item {
    width: 410px;
    height: 590px;
    margin: 0 0 80px 0;
}

.listing-item__image-container {
    width: 410px;
    height: 410px;
    display: flex;
    align-items: center;
    border: 1px solid #a89365;
}

.listing-item__image {
    width: 100%;
}

.listing-item__title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 300;
    margin: 12px 0 0 0;
    display: block;
    height: 2.5em;
    text-decoration: none;
    color: #232323;
}

.listing-item__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 4px 0 0 0;
}

.listing-item__vendor-code {
    font-size: 20px;
    line-height: 1.2;
    width: 50%;
}

.listing-item__fav {
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    width: 50%;
}

.listing-item__price {
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    width: 50%;
}

.listing-item__price::after {
    content: " ₽";
}

.listing-item__info .button {
    width: 50%;
    margin: 12px 0 0 0;
}


@media screen and (max-width: 1919px) {
    .listing-item {
        width: 276px;
        height: 408px;
        margin: 0 0 48px 0;
    }

    .listing-item__image-container {
        width: 276px;
        height: 276px;
    }

    .listing-item__title {
        font-size: 22px;
    }

    .listing-item__vendor-code {
        font-size: 16px;
    }
    
    .listing-item__fav {
        font-size: 16px;
    }
    
    .listing-item__price {
        font-size: 24px;
    }


}

@media screen and (max-width: 1279px) {

}   