.listing-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    position: relative;
    padding: 0 0 40px 0;

}

/* ряд фильтров  */

.listing-container__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    margin: 15px 0 40px;
    width:100%;
}
a.listing-container__how-much{
    color:#000;
    text-decoration:none
}

.listing-container__filters .button {
    max-width: 152px;
}

/* чекбоксы доступности  */


.listing-container__avaliable {
    display: flex;
}

.listing-container__avaliable .checkbox-label {
    margin: 0 20px 0 0;
}

/* ценовой диапазон  */

.listing-container__range  {
    display: flex;
    justify-content: space-between;
}

.listing-container__range .range {
    max-width: 448px;
    margin: 0 0 0 12px;
}
.listing-container__column_big{
    display:flex;
    flex-direction: column;
}

/* выпадающий список что отображать  */

.listing-container__sort {
    cursor: pointer;
}

.listing-container__sort-li {
    list-style: none;
}

.listing-container__sort-title::after {
    font-family: 'icomoon';
    content: " \e903";
    color: #a89365;
    font-size: 12px;
}

.listing-container__sort:hover .listing-container__sort-submenu {
    display: flex;
}

.listing-container__sort-submenu {
    display: none;
}

.listing-container__radio-form {
    flex-direction: column;
    position: absolute;
    top: 36px;
    box-shadow: 0 4px 8px rgba(0,0,0,.13);
    z-index: 100;
    background: #fff;
}


.listing-container__radio-container {
    padding: 5px 20px;
    list-style: none;
}

.listing-container__radio-container:hover {
    background: #a89365;
}

/* сколько отображать  */


.listing-container__show {
    display: flex;
}

.listing-container__show-title {
    font-size: 20px;
    line-height: 1.2;
}

.listing-container__how-much {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 6px;
    cursor: pointer;
}

.listing-container__how-much:first-of-type {
    margin: 0 6px 0 12px;
}

a.listing-container__how-much_selected, .listing-container__how-much:hover {
    border-bottom: 2px solid #a89365;
    color:#a89365;
}

.listing-container__cancel {
    color: #a89365;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
}


/* ряд под фильтрами   */


.listing-container__row {
    display: flex;
}

.listing-container__column {
    display: flex;
    flex-direction: column;
}

/* чекбоксы с брендами  */

.listing-container__column_brands {
    min-width: 368px;
    padding: 0 10px 0 0;
}

.listing-container__brands {
    display: flex;
    flex-direction: column;
}

.listing-container__brands-container {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

.listing-container__brands-container .show-more {
    display: block;
}

.listing-container__brands-container_hidden {
    display: none;
}

/* колонка с карточками товаров  */

.listing-container__column_products {
    max-width: 1310px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




@media screen and (max-width: 1919px) {
    .listing-container__avaliable {
        display: none;
    }
    
    .listing-container__range .range {
        max-width: 419px;
    }  
    
    .listing-container__radio-form {
        top: 32px;
    }

    .listing-container__column_brands {
        max-width: 368px;
        min-width: 200px;
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width: 1279px) {
    .listing-container__column_brands {
       display: none;
    }

    .listing-container__filters {
        display: none;
    }

}   








