.memo-container {
    padding: 40px 0 80px 0;
}

.memo-container__text {
    margin: 40px 0 0 0;
}

.memo-container__text ul {
    padding: 0 0 0 1.5em;
}

.memo-container__text li {
    margin: 1em 0 0 0;
}

.memo-container__accordions {
    margin: 40px 0 0 0;
}

.memo-container__link {
    color: #a89365;
    text-decoration: none;
}



@media screen and (max-width: 1279px) {
    .memo-container {
        padding: 20px 0 40px 0;
    }   
    .memo-container__text {
        margin: 20px 0 0 0;
    }
    .memo-container__accordions {
        margin: 20px 0 0 0;
    }
    
}   
