.modal-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
}

.modal-window {
    padding: 40px;
    background: #fff;
    max-width: 560px;
    margin: 20vh auto 0 auto;
    position: relative;
    z-index: 1101;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 750px;
}

.modal-window_page-window {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    margin: 80px auto;
    z-index: 1;
    max-height: 1000px;
}

.modal-window_wide {
    max-width: 1200px;
    width: 100%;
}

.modal-window__close-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modal-window__form {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0 0;
}

.modal-window__form .button {
    max-width: 250px;
    margin: 0 auto;
}

.modal-window .button {
    max-width: 250px;
    margin: 0 auto;
}

.modal-window_page-window .button {
    margin: 60px auto 0 auto;
}

.modal-window__title {
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
}

.modal-window__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

.modal-window__row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.modal-window__label {
    font-size: 20px;
    line-height: 1.1;
    margin: 0 20px 0 0;
}

.modal-window__input-text {
    border: 0;
    border-bottom: 1px solid #232323;
    width: 348px;
    padding: 0 5px;
    font-size: 20px;
    line-height: 1.2;
    color: #575757;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.modal-window__textarea {
    border: 1px solid #232323;
    width: 100%;
    min-height: 176px;
    padding: 5px;
    font-size: 20px;
    line-height: 1.2;
    color: #575757;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.modal-window__hint {
    font-size: 16px;
    line-height: 1.2;
}

.modal-window__message {
    font-size: 20px;
    line-height: 1.1;
    margin: 40px 0;
    text-align: center;
}

.modal-window__hint:first-of-type {
    margin: 20px 0 0 0;
}

.modal-window__capcha {
    margin: 16px auto 24px auto;
}


.modal-window__downloads {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.modal-window__download {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.modal-window__download:not(:first-of-type) {
    margin: 20px 0 0 0;
}

.modal-window__download::before {
    font-family: 'icomoon';
    content: "\e923";
    display: inline-block;
    margin: 0 14px 0 0;
    font-size: 36px;
}

.modal-window__text {
    font-size: 20px;
    line-height: 1.2;
    color: #575757;
}   

.modal-window__download-link {
    color: #a89365;
    font-size: 20px;
    line-height: 1.2;
}

.modal-window__download-link:hover {
    text-decoration: none;
}

.modal-window__footer {
    text-align: center;
}

.modal-window__footer .page-link, .modal-window__footer .page-text {
    margin: 20px 0 0 0;
    display: block;
}

#msg-enter-success, #msg-enter-error,
#msg-register-success, #msg-register-error,
#msg-remind-success, #msg-remind-error,
#msg-callback-success, #msg-callback-error,
#msg-project-success, #msg-project-error,
#msg-service-success, #msg-service-error,
#msg-calc-success, #msg-calc-error,
#msg-audition-success, #msg-audition-error,
#msg-specialist-success, #msg-specialist-error,
#msg-subscription-success, #msg-subscription-error,
#msg-director-success, #msg-director-error {
    margin-top: 10px;
}

#msg-subscription-success, #msg-subscription-error {
    text-align: center;
}

#msg-enter-success, #msg-register-success, #msg-remind-success, #msg-callback-success, #msg-subscription-success, #msg-director-success,
#msg-specialist-success, #msg-project-success, #msg-service-success, #msg-calc-success, #msg-audition-success {
    color: green;
}

#msg-enter-error, #msg-register-error, #msg-remind-error, #msg-callback-error, #msg-subscription-error, #msg-director-error,
#msg-specialist-error, #msg-project-error, #msg-service-error, #msg-calc-error, #msg-audition-error {
    color: red;
}

@media screen and (max-width: 900px) {
    .modal-window {
        padding: 20px 16px;
        max-width: 320px;
        overflow-y: auto;
        max-height: 450px;
    }

    .modal-window_page-window {
        max-height: 1000px;
    }

    .modal-window_wide {
        max-width: 100%;
    }

    .modal-window__close-icon {
        top: 20px;
        right: 16px;
        width: 18px;
        height: 18px;
    }

    .modal-window__title {
        font-size: 18px;
        text-align: left;
    }

    .modal-window__subtitle {
        font-size: 16px;
        margin: 12px 0 0 0;
    }
    

    .modal-window__row {
        margin: 8px 0;
    }

    .modal-window__label {
        font-size: 16px;
        margin: 0 8px 0 0;
    }

    .modal-window__input-text {
        width: 188px;
        padding: 0 5px;
        font-size: 16px;
    }
    
    .modal-window__hint {
        font-size: 12px;
    }

    .modal-window__hint:first-of-type {
        margin: 16px 0 0 0;
    }

    .modal-window__capcha {
        margin: 8px auto 12px auto;
    }

    .modal-window__form .button {
        max-width: 200px;
    }
}   