.news {
    padding: 60px 0 80px 0;
}

.news-box {
    display: flex;
    margin: 40px 0 0 0;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.news-item {
    max-width: 24%;
    display: flex;
    flex-direction: column;
    margin: 0 0 80px 0;
}

.news-item__image {
    max-width: 100%;
    align-self: center;
}

.news-item__date {
    font-size: 16px;
    line-height: 1.1;
    margin: 12px 0 0 0;
}

.news-item__title {
    color: #a89365;
    font-size: 32px;
    line-height: 1.1;
    min-height: 2.5em;
    margin: 8px 0 0 0;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.news-item__title:hover {
    text-decoration: underline;
}

.news-item__preview {
    font-size: 20px;
    line-height: 1.1;
    margin: 8px 0 0 0;
}





@media screen and (max-width: 1919px) {
    .news {
        padding: 40px 0 80px 0;
    }

    .news-item {
        margin: 0 0 40px 0;
    }

    .news-item__title {
        font-size: 24px;
    }
    
}

@media screen and (max-width: 800px) {
    .news {
        padding: 40px 0 60px 0;
    }

    .news-item {
        max-width: 48%;
    }

    .news-item__date {
        font-size: 10px;
        margin: 4px 0 0 0;
    }
    
    .news-item__title {
        font-size: 18px;
        margin: 4px 0 0 0;
    }
    
    .news-item__preview {
        font-size: 15px;
        margin: 4px 0 0 0;
    }
}   


@media screen and (max-width: 600px) {
    .news-item {
        max-width: 100%;
    }
}