.news-body {

}

.news-body__banner-box {
    margin: 40px 0 0 0;
}

.news-body__banner {
    max-width: 100%;
}

.news-body__text {
    margin: 40px 0 0 0;
}

.news-body__buttons {
    margin: 80px auto 0 auto;
}