.order-how {
    margin: 0 40px 0 0;
}

.order-how__carrier form, .order-how__payment form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.order-how__carrier form label, .order-how__payment form label {
    margin: 8px 0;
}

.order-how__payment, .order-how__card, .order-how__person {
    margin: 40px 0 0 0;
}

.order-how__card form {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-how__card-number {
    display: flex;
}

.order-how__card form input {
    width: 180px;
    text-align: center;
}

.order-how__card button {
    max-width: 180px;
    margin: 0 20px;
}






@media screen and (max-width: 1279px) {
    .order-how {
        margin: 0;
    }

    .order-how__carrier form, .order-how__payment form {
        margin: 12px 0 0 0;
    }

    .order-how__payment, .order-how__card, .order-how__person  {
        margin: 20px 0 0 0;
    }

    .order-how__card form {
        justify-content: flex-start;
    }
}   



@media screen and (max-width: 600px) {
    .order-how__card button {
        margin: 20px auto 0 auto;
    }

    .order-how__card form {
        flex-direction: column;
    }
}

