.page-title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: #a89365;
    text-transform: uppercase;
    margin: 0;
}

.page-title_theme_black {
    color: #232323;
}

.page-title_center {
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .page-title {
        font-size: 24px;
        line-height: 28px;
    }
}   