.page-subtitle {
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    color: #a89365;
    margin: 0;
    max-width: 1200px;
}

.page-subtitle_theme_black {
    color: #232323;
}


@media screen and (max-width: 600px) {
    .page-subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}   