.page-text {
    font-size: 24px;
    line-height: 1.1;
}

.page-text_accent {
    color: #a89365;
}

.page-text_bold {
    font-weight: 600;
}

.page-text_center {
    text-align: center;
}

.page-text:not(:first-of-type) {
    margin: 1em 0 0 0;
}

@media screen and (max-width: 1350px) {
    .hidden-text {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .page-text {
        font-size: 16px;
    }
}

