
/* пагинация  */

.pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 40px 0;
    padding: 0 20px;
}

.pagination a {
    text-decoration: none;
}


.pagination-button {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 6px;
    cursor: pointer;
    color:#232323;
    text-decoration: none;
}

.pagination-button_selected, .pagination-button:hover {
    border-bottom: 1px solid #a89365;
    color: #a89365;
} 

.pagination-button_selected {
    font-weight: 400;
}



@media screen and (max-width: 1279px) {
    .pagination-button {
        font-size: 12px;
    }
}   
    

