.portfolio-bottom {
    display: flex;
    justify-content: center;
    padding: 40px 0 80px 0;
}

.portfolio-bottom .button {
    margin: 0 0 0 40px;
    max-width: 248px;
}

@media screen and (max-width: 600px) {
    .portfolio-bottom {
        flex-direction: column-reverse;
        padding: 20px 0;
    }
    .portfolio-bottom .button {
        margin: 0 auto 20px auto;
    }
}   