.portfolio {
    padding: 60px 0 80px 0;
}

.portfolio__slider {
    padding: 40px 0 0 0;
}

.portfolio-item {
    max-width: 408px;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.portfolio-item__image {
    max-width: 100%;
    align-self: center;
    margin: 0 0 8px 0;
}

.portfolio-item__text {
    margin: 8px 0 0 0;
    font-size: 20px;
    line-height: 24px;
}









@media screen and (max-width: 1919px) {
    .portfolio {
        padding: 40px 0;
    }
    .portfolio-item {
        max-width: 272px;
        margin: 0 12px;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__slider {
        padding: 20px 0 0 0;
    }
    .portfolio-item {
        max-width: 160px;
    }
    .portfolio-item__text {
        margin: 4px 0 0 0;
        font-size: 15px;
        line-height: 18px;
    }
}   