.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    max-width: 32%;
    margin: 0 0 80px 0;
}

.portfolio-item__image {
    max-width: 100%;
}

.portfolio-item__title {
    color: #a89365;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    min-height: 2.5em;
    text-decoration: none;
    margin: 8px 0 0 0;
}

.portfolio-item__title:hover {
    text-decoration: underline;
}

.portfolio-item__text {
    color: #575757;
    font-size: 20px;
    line-height: 1.2;
    margin: 8px 0 0 0;
}


@media screen and (max-width: 1919px) {
    .portfolio-item {
        margin: 0 0 40px 0;
    }
    .portfolio-item__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 1279px) {
    .portfolio-item {
        margin: 0 0 20px 0;
    }
    .portfolio-item__title {
        font-size: 18px;
    }
    .portfolio-item__text {
        font-size: 16px;
    }

}   

@media screen and (max-width: 600px) {
    .portfolio-item {
        box-shadow: 0 4px 8px rgba(0,0,0,.16);
        max-width: 100%;
        padding: 12px;
    }
}   