.product-box {
    display: flex;
    flex-direction: column;
    padding: 0 0 40px 0;
}

.product-box__row {
    display: flex;
}

.product-box__images {
    width: 49%;
}

.product-box__main-image-box {
    width: 800px;
    height: 800px;
    border: 1px solid #a89365;
}

.product-box__main-image {
    width: 100%;
    height: auto;
}

.product-box__secondary-images {
    display: flex;
}

.product-box__secondary-image {
    width: 200px;
    height: 200px;
    margin: 0;
    border: 1px solid #a89365;
}











.product-box__info {
    width: 49%;
}


.product-box__vendor-code {
    font-size: 16px;
    line-height: 1.2;
}

.product-box__title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 0 0 0;
}

.product-box__price {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 0 0 0;
}

.product-box__price::after {
    content: " ₽";
}


.product-box__avaliable {
    color: #575757;
    font-size: 20px;
    line-height: 1.2;
    margin: 8px 0 0 0;
}

.product-box__is-avaliable {
    color: #232323;
}



.product-box__colors {
    margin: 28px 0 0 0;
    display: flex;
    align-items: center;
}

.product-box__colors-title {
    font-size: 20px;
    line-height: 1.2;
}






.product-box__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 20px;
    position: relative;
    cursor: pointer;
}


.product-box__color_gray {
    background: #ebebeb ;
}

.product-box__color_wine-red {
    background: #451a1a;
}

.product-box__color_dark-gray {
    background: #232323;
}

.product-box__color_selected::after {
    content: "";
    border: 1px solid #a89365;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: block;
    top: -4px;
    left: -4px;
    position: relative;

}




.product-box__buttons {
    display: flex;
    justify-content: space-between;
    margin: 36px 0 0 0;
}

.product-box__buttons .button {
    width: 49%;
    margin: 0;
}


.product-box__checkbox {
    display: flex;
    max-width: 396px;
}

.product-box__facts {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}

.product-box__fact {
    font-size: 20px;
    line-height: 1.2;
}

.product-box__fact:not(:last-of-type) {
    margin: 0 0 20px 0;
}

.product-box__fact::after {
    content: "\e927";
    font-family: 'icomoon';
    display: inline-block;
    margin: 0 0 0 8px;
    color: #a89365;
}

.product-box__fact_return::before {
    content: "\e91d";
    font-family: 'icomoon';
    display: inline-block;
    margin: 0 20px 0 0;
}

.product-box__fact_delivery::before {
    content: "\e91c";
    font-family: 'icomoon';
    display: inline-block;
    margin: 0 20px 0 0;
}

.product-box__fact_official::before {
    content: "\e91e";
    font-family: 'icomoon';
    display: inline-block;
    margin: 0 20px 0 0;
}


.product-box__info-box {
    margin: 20px 0 0 0;
    width: 100%;
}

.product-box__info-buttons {
    display: flex;
}

.product-box__info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 48px;
    border: 1px solid #f2f2f2;
    text-transform: uppercase;
    color: #575757;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.product-box__info-button_active {
    color: #232323;
}

.product-box__about {
    margin: 16px 0 0 0;
    width: 100%;
}

.product-box__about_characteristics, .product-box__about_questions {
    display: none;
}





@media screen and (max-width: 1919px) {
    .product-box__main-image-box {
        width: 480px;
        height: 480px;
    }

    .product-box__secondary-image {
        width: 120px;
        height: 120px;
        margin: 0;
        border: 1px solid #a89365;
    }

    .product-box__title {
        font-size: 40px;
    }

    .product-box__price {
        font-size: 28px;
        margin: 20px 0 0 0;
    }
}


@media screen and (max-width: 1100px) {
    .product-box__row {
        flex-direction: column;
        justify-content: center;
    }

    .product-box__images {
        width: 100%;
        justify-content: center;
    }

    .product-box__main-image-box {
        margin: 0 auto;
    }

    .product-box__secondary-images {
        margin: 0 auto;
        justify-content: center;
    }

    .product-box__info {
        width: 100%;
    }

    .product-box__buttons {
        justify-content: center;
    }

    .product-box__buttons .button {
        margin: 0 10px;
    }
}   

@media screen and (max-width: 600px) {
    .product-box__main-image-box {
        width: 100%;
        height: auto;
        line-height: 0;
    }

    .product-box__secondary-images {
        max-width: 100%;
    }

    .product-box__secondary-image {
        width: 25%;
        height: auto;
    }

    .product-box__vendor-code {
        font-size: 12px;
        margin: 8px 0 0 0;
    }

    .product-box__title {
        font-size: 24px;
    }

    .product-box__price {
        font-size: 20px;
        margin: 12px 0 0 0;
    }

    .product-box__buttons {
        flex-direction: column;
    }

    .product-box__buttons .button {
        margin: 4px auto;
        width: 100%;
    }

    .product-box__avaliable {
        font-size: 14px;
    }

    .product-box__facts {
        margin: 20px 0 0 0;
    }

    .product-box__fact {
        font-size: 14px;
    }
      

    .product-box__info-button {
        height: 32px;
        font-size: 12px;
    }

}   


