.project-calc {
    padding: 40px 0;
}

.project-calc__app {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.project-calc__column-square {
    width: 340px;
}

.project-calc__square-title {
    font-size: 24px;
    line-height: 1.2;
}

.project-calc__radio {
    display: flex;
    margin: 12px 0;
}

.project-calc__radio-elem{
    color: #a89365;
    border: 1px solid #a89365;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    transition: all .2s;
}

.project-calc__radio-elem:not(:first-of-type) {
    margin: 0 0 0 20px;
}

.project-calc__radio-elem:hover, .project-calc__radio-elem_active {
    background: #a89365;
    color: #fff;
}

.project-calc__input-container {
    display: flex;
    align-items: flex-end;
}

.project-calc__square-input {
    border: 0;
    border-bottom: 1px solid rgba(35,35,35,.3);
    width: 172px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 12px 0 0 0;
}

.project-calc__column-checkbox {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.project-calc__checkbox-row {
    margin: 20px 0 0 0;
}

.project-calc__result-title {
    font-size: 32px;
    line-height: 1.1;
    color: #a89365;
}

.project-calc__column-result {
    text-align: center;
    width: 388px;
}

.project-calc__result {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
    color: #a89365;
    margin: 12px 0 0 0;
}

.project-calc__result::after {
    content: " ₽"
}

.project-calc__result-comment {
    font-size: 16px;
    line-height: 1.1;
    margin: 12px 0 0 0;
}

@media screen and (max-width: 1919px) {
    .project-calc__app {
        justify-content: center;
    }

    .project-calc__column-result {
        margin: 20px 0 0 0;
    }

}

@media screen and (max-width: 1279px) {
    .project-calc {
        padding: 20px 0;
    }
    .project-calc__radio-elem{
        padding: 8px 16px;
        font-size: 16px;
    }
    .project-calc__square-title {
        font-size: 16px;
    }
}   

@media screen and (max-width: 600px) {
    .project-calc__app {
        justify-content: flex-start;
    }
}