.project-manager {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.project-manager__image {
    background: url(../images/golovkov.jpg) no-repeat;
    background-position: 0 -50px;
    background-size: cover;
    width: 410px;
    height: 360px;
}

.project-manager__image2 {
    background: url(../images/arch1.jpg) no-repeat;
}

.project-manager__info {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
}

.project-manager__info .page-subtitle {
    margin: 0 0 12px 0;
}

@media screen and (max-width: 1919px) {
    .project-manager__image {
        background-position: top center;
        width: 280px;
        height: 460px;
    }
    .project-manager__info {
        max-width: 890px;
    }
}

@media screen and (max-width: 1279px) {
    .project-manager {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }
    .project-manager__image {
        background-position: 0 -40px;
        background-size: cover;
        width: 328px;
        height: 300px;
    }
    .project-manager__info {
        max-width: 100%;
    }
    .project-manager__info .page-subtitle {
        margin: 12px 0;
    }

}   