.projects {
    padding: 60px 0;
}

.projects__row {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.project-item {
    width: 19%;
    text-align: center;
}

.project-item__icon {
    max-width: 144px;
    margin: 0 0 28px 0;
}

.project-item__title {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 300;
}


@media screen and (max-width: 1919px) {
    .projects {
        padding: 40px 0;
    }
    .project-item__title {
        font-size: 24px;
    }
    .project-item__icon {
        max-width: 130px;
    }
}

@media screen and (max-width: 970px) {
    .projects {
        padding: 20px 0;
    }
    .projects__row {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 0 0;
        align-items: flex-end;
    }

    .project-item {
        width: 45%;
        margin: 10px;
    }

    .project-item__icon {
        max-width: 100px;
    }

    .project-item__title {
        font-size: 19px;
    }
}   