.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

.scroll-up__image {
    width: 42px;
    height: 42px;
    opacity: .5;

}

.scroll-up__image:hover {
    opacity: 1;
}


@media screen and (max-width: 1350px) {
    .scroll-up {
        right: 20px;
    }
}