.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .section-header_mobile-column {
        display: flex;
        flex-direction: column;
    }
} 
