.service-advantages {
    padding: 20px 0;
}

.service-advantages .page-subtitle {
    margin: 20px 0 0 0;
}

.service-advantages__images {
    display: flex;
    justify-content: space-between;
}

.service-advantages__text {
    margin: 20px 0 0 0;
}

@media screen and (max-width: 600px) {
    .service-advantages__image {
        max-width: 49%;
        align-self: center;
        margin: 0 0 20px 0;
    }
    .service-advantages__image:last-of-type {
        display: none;
    }
}

