.service-page-about {
    padding: 40px 0;
}

.service-page-about__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-page-about__header .button {
    max-width: 252px;
}

.service-page-about__image {
    max-width: 100%;
    margin: 40px 0 20px 0;
}

.service-page-about__text {
    margin: 20px 0 0 0;
}


@media screen and (max-width: 1279px) {
    .service-page-about {
        padding: 20px 0;
    }
}   