.slider {
    padding: 120px 0 0 0;
}

.slider-item {
    max-width: 100%;
}

.slider .slick-prev, .slider .slick-next {
    top: 50%;
}

.slider .slick-dots
{
     bottom: 10px;
}

@media screen and (max-width: 1919px) {
    .slider {
        padding: 100px 0 0 0;
    }
}

@media screen and (max-width: 1279px) {
    .slider {
        padding: 40px 0 0 0;
    }
}   