.subscribe {
    background: #f2f2f2;
    padding: 40px 0;
}

.subscribe__title {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
    text-align: center;
}

.subscribe__form {
    text-align: center;
}

.subscribe__email-container {
    display: flex;
    align-items: center;
    margin: 40px auto 0 auto;
    justify-content: center;
}

.subscribe__email {
    border: 0;
    border-bottom: 1px solid rgba(35,35,35,.3);
    background: #f2f2f2;
    width: 444px;
    font-size: 20px;
    margin: 0 0 0 20px;
    padding: 15px;
    font-weight: 300;
}

.subscribe__hint {
    font-size: 20px;
    line-height: 1.1;
}

.subscribe__respect {
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    margin: 20px 0 40px 0;
}

.subscribe .button {
    margin: 0 auto;
}


@media screen and (max-width: 1919px) {
    .subscribe__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .subscribe {
        padding: 20px 0;
    }

    .subscribe__hint {
        font-size: 15px;
    }

    .subscribe__respect {
        font-size: 10px;
        margin: 16px 0 20px 0;
    }
    .subscribe__email {
        width: 243px;
        font-size: 15px;
        margin: 0 0 0 10px;
        padding: 10px;
    }
}   



