.trends {
    padding: 120px 0;
}

.trends__items {
    display: flex;
    margin: 40px 0 0 0;
    justify-content: space-between;
}

.trends-item-lg {
    display: flex;
    flex-direction: column;
    max-width: 49%;
}

.trends-item-lg__image {
    max-width: 100%;
    align-self: center;
}

.trends-item-lg__info {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 20px 0;
}

.trends-item-lg__title {
    font-size: 43px;
    line-height: 1.1;
    font-weight: 300;
    max-width: 65%;
}

.trends-item-lg__price {
    color: #a89365;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
    align-self: flex-end;
}

.trends-item-lg__price::after {
    content: " ₽";
}

.trends__items-sm-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 49%;
    justify-content: space-between;
}

.trends-item-sm {
    display: flex;
    flex-direction: column;
    max-width: 48%;
    align-items: flex-start;
}

.trends-item-sm__image {
    max-width: 100%;
    align-self: center;
}

.trends-item-sm__info {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 80px 0;
}

.trends-item-sm__title {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 300;
    max-width: 65%;
}

.trends-item-sm__price {
    color: #a89365;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;
    align-self: flex-end;
}

.trends-item-sm__price::after {
    content: " ₽";
}


@media all and (max-width: 1919px) {
    .trends {
        padding: 80px 0;
    }

    .trends__items {
        margin: 20px 0 0 0;
    }

    .trends-item-lg__title {
        font-size: 32px;
    }

    .trends-item-sm__info {
        margin: 4px 0 28px 0;
    }

    .trends-item-sm__price {
        font-size: 15px;
    }
}

@media all and (max-width: 1279px) {
    .trends {
        padding: 60px 0;
    }

    .trends__items {
        flex-direction: column;
        justify-content: center;
    }

    .trends-item-lg {
        max-width: 80%;
        margin: auto;
    }

    .trends-item-lg__title {
        font-size: 20px;
        line-height: 1.1;
    }
    
    .trends-item-lg__price {
        font-size: 20px;
    }

    .trends__items-sm-container {
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    .trends-item-sm {
        margin: 0 5px;
    }

    .trends-item-sm__info {
        flex-direction: column;
    }

    .trends-item-sm__title {
        font-size: 16px;
        max-width: 100%;
    }

    .trends-item-sm__price {
        font-size: 13px;
        align-self: flex-start;
        margin: 5px 0 0 0;
    }
}   

@media all and (max-width: 1100px) {
    .trends-item-lg {
        max-width: 90%;
    }
}

@media all and (max-width: 600px) {
    .trends-item-lg {
        max-width: 100%;
    }

    .trends-item-sm {
        margin: auto;
    }
}