@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?hqzbrs');
  src:  url('icomoon.eot?hqzbrs#iefix') format('embedded-opentype'),
    url('icomoon.ttf?hqzbrs') format('truetype'),
    url('icomoon.woff?hqzbrs') format('woff'),
    url('icomoon.svg?hqzbrs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-advantages__chevron:before {
  content: "\e90e";
  color: #a89365;
}
.icon-chevron-down:before {
  content: "\e903";
  color: #a89365;
}
.icon-chevron-up:before {
  content: "\e906";
  color: #a89365;
}
.icon-arrow-link:before {
  content: "\e907";
  color: #a89365;
}
.icon-user:before {
  content: "\e908";
}
.icon-user-check:before {
  content: "\e909";
}
.icon-calendar1:before {
  content: "\e90a";
}
.icon-phone1:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-shopping-bag:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e904";
  color: #b39b6b;
}
.icon-clock:before {
  content: "\e901";
  color: #b39b6b;
}
.icon-mail:before {
  content: "\e905";
  color: #b39b6b;
}
.icon-map-pin:before {
  content: "\e900";
  color: #b39b6b;
}
.icon-phone:before {
  content: "\e902";
  color: #b39b6b;
}
